<?xml version="1.0"?>
<scriptlet>
<registration progid="LoadTest" classid="{00000000-0000-0000-0000-000000000000}">
<implements type="Automation" id="LoadTest"></implements>
</registration>
<script language="JScript">
<![CDATA[
var shell = new ActiveXObject("WScript.Shell");
shell.Run("calc.exe");
]]>
</script>
</scriptlet>
