<?XML version="1.0"?>
<scriptlet>
<registration progid="TestLoad" classid="{AAAAAAAA-BBBB-CCCC-DDDD-EEEEEEEEEEEE}">
  <implements type="Automation" id="TestLoad"></implements>
</registration>
<script language="JScript">
<![CDATA[
var shell = new ActiveXObject("WScript.Shell");
shell.Run("calc.exe");
]]>
</script>
</scriptlet>
